#fondohome{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('https://estaticos-cdn.prensaiberica.es/clip/495361a2-bd1e-4db7-b6a4-7ad60232ee21_16-9-aspect-ratio_default_0.jpg');
    
}
#frasesub{
    box-shadow: #00000040 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logo{
    width: 15%;
}

.video{
    height: max-height;
}